<?xml version="1.0"?>
<config>
    <modules>
        <AW_Lib>
            <version>1.0.0</version><platform>ce</platform>
        </AW_Lib>
    </modules>
    <global>
        <blocks>
            <aw_lib>
                <class>AW_Lib_Block</class>
            </aw_lib>
        </blocks>
        <helpers>
            <aw_lib>
                <class>AW_Lib_Helper</class>
            </aw_lib>
        </helpers>
        <models>
            <aw_lib>
                <class>AW_Lib_Model</class>
            </aw_lib>
            <sales>
                <rewrite>
                    <order_pdf_invoice>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>AW_Lib_Model_AdminhtmlPdf_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
        </models>
        <resources>
            <aw_lib_setup>
                <setup>
                    <module>AW_Lib</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_lib_setup>
            <aw_lib_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_lib_write>
            <aw_lib_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_lib_read>
        </resources>
    </global>
</config>